<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Заголовок страницы</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    </head>
    <body>
      <div class="jumbotron">
        <div class="container">
          <h1> {% include "mainApp/includes/some_html.html" %}</h1>
          {% block content %}
          {% endblock %}
          <p>
            <a href="/" class="btb btn-success btn-lg">Главная страница</a>          
            <a href="/news" class="btb btn-primary btn-lg">Новости &raquo;</a>
            <a href="/contact" class="btb btn-info btn-lg">Контакты</a>
          </p>
        </div>
      </div>
      <div class="container">
        <img src="{% static 'mainApp/image/park.jpg' %}" class="img-thumbnail">
        <hr>
        &copy; Все права защищены 2020
      </div>
    </body>
</html>